[Unit]
Description=Starter service for UID2 Operator Enclave
After=network.target nitro-enclaves-allocator.service

[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
StandardError=journal
SyslogIdentifier=uid2operator
ExecStart=/opt/uid2operator/init/bin/python /opt/uid2operator/ec2.py
ExecStop=/opt/uid2operator/init/bin/python /opt/uid2operator/ec2.py -o stop
ExecStopPost=-/usr/bin/nitro-cli terminate-enclave --all

[Install]
WantedBy=multi-user.target
