<configuration>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http class="com.github.loki4j.logback.ApacheHttpSender">
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=uid2-operator,host=${HOSTNAME},portoffset=${port_offset:-0},level=%level,class=%logger{20}</pattern>
            </label>
            <message>
                <pattern>l=%level h=${HOSTNAME} po=${port_offset:-0} c=%logger{20} t=%thread | %replace(%msg){'[^\s]+s3\.amazonaws\.com\/.*X-Amz-Security-Token=[^\s]+', 'REDACTED LOG - T1'} %replace(%ex){'[^\s]+s3\.amazonaws\.com\/.*X-Amz-Security-Token=[^\s]+', 'REDACTED ERR - T1'}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %replace(%msg){'[^\s]+s3\.amazonaws\.com\/.*X-Amz-Security-Token=[^\s]+', 'REDACTED LOG - T1'} %replace(%ex){'[^\s]+s3\.amazonaws\.com\/.*X-Amz-Security-Token=[^\s]+', 'REDACTED ERR - T1'}%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>