name: Run Operator E2E Tests
run-name: ${{ format('Run Operator E2E Tests - {0} {1}', inputs.operator_type, inputs.identity_scope) }} by @${{ github.actor }}
on:
  workflow_dispatch:
    inputs:
      operator_type:
        description: The operator type [public, gcp, azure, aws, eks]
        required: true
        type: choice
        options:
          - public
          - gcp
          - azure
          - aws
          - eks
      identity_scope:
        description: The identity scope [UID2, EUID]
        required: true
        type: choice
        options:
          - UID2
          - EUID
      operator_image_version:
        description: 'Image: Operator image version (for gcp/azure, set appropriate image)'
        type: string
        default: latest
      core_image_version:
        description: 'Image: Core image version'
        type: string
        default: latest
      optout_image_version:
        description: 'Image: Optout image version'
        type: string
        default: latest
      e2e_image_version:
        description: 'Image: E2E image version'
        type: string
        default: latest

      branch:
        description: The arguments for custom branches
        type: string
        default: '{
          "core": "main",
          "optout": "main",
          "admin": "main" }'
      aws:
        description: The arguments for AWS private operator
        type: string
        default: '{
          "region": "us-east-1",
          "ami": "ami-xxxxx",
          "pcr0": "xxxxx" }'
      eks:
        description: The arguments for EKS operator
        type: string
        default: '{
          "pcr0": "xxxxx" }'

  workflow_call:
    inputs:
      operator_type:
        description: The operator type [public, gcp, azure, aws, eks]
        type: string
        default: public
      identity_scope:
        description: The identity scope [UID2, EUID]
        type: string
        default: UID2
      operator_image_version:
        description: 'Image: Operator image version (for gcp/azure, set appropriate image)'
        type: string
        default: latest
      core_image_version:
        description: 'Image: Core image version'
        type: string
        default: latest
      optout_image_version:
        description: 'Image: Optout image version'
        type: string
        default: latest
      e2e_image_version:
        description: 'Image: E2E image version'
        type: string
        default: latest
      branch:
        description: The arguments for custom branches
        type: string
        default: '{
          "core": "main",
          "optout": "main",
          "admin": "main" }'
      aws:
        description: The arguments for AWS private operator
        type: string
        default: '{
          "region": "us-east-1",
          "ami": "ami-xxxxx",
          "pcr0": "xxxxx" }'
      eks:
        description: The arguments for EKS operator
        type: string
        default: '{
          "pcr0": "xxxxx" }'

jobs:
  e2e-test:
    name: E2E Test
    uses: IABTechLab/uid2-shared-actions/.github/workflows/shared-run-e2e-tests.yaml@tjm-UID2-3620-publish-all-use-ami
    with:
      operator_type: ${{ inputs.operator_type }}
      operator_image_version: ${{ inputs.operator_image_version }}
      core_image_version: ${{ inputs.core_image_version }}
      optout_image_version: ${{ inputs.optout_image_version }}
      e2e_image_version: ${{ inputs.e2e_image_version }}
      operator_branch: ${{ github.ref }}
      branch_core: ${{ fromJson(inputs.branch).core }}
      branch_optout: ${{ fromJson(inputs.branch).optout }}
      branch_admin: ${{ fromJson(inputs.branch).admin }}
      uid2_e2e_identity_scope: ${{ inputs.identity_scope }}
      gcp_workload_identity_provider_id: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER_ID }}
      gcp_service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}
      gcp_project: ${{ vars.GCP_PROJECT }}
      aws_region: ${{ fromJson(inputs.aws).region }}
      aws_ami: ${{ fromJson(inputs.aws).ami }}
      aws_pcr0: ${{ fromJson(inputs.aws).pcr0 }}
      eks_pcr0: ${{ fromJson(inputs.eks).pcr0 }}
    secrets: inherit
